.name-input-wrapper{
    width: 100vw;

    display: flex;
    justify-content: center;
}

.pokemon-input-field {
    border: 2px solid black;
    height: 3rem;
    width: 80vw;
    margin: 15px auto;

    /* Styles for the text entered by the user in the input field */
    font-size: 20px;
    font-weight: 900;
    font-style: italic;
}


/* We are using here sudo-class-selector for changing the style of the "placeholder" */
.pokemon-input-field::placeholder {
    color: #f03232;
    font-style: italic;
    font-size: 20px;
    opacity: 0.5;
    /*  */
  }