.pokemon-name-input{
    height: 3rem;
    width: 80vw;
    /* border-radius: 1rem; */
    margin: 15px auto;
    /* padding: 20px; */

    /* enable this for "night-mode" */
    /* border: 2px solid rgb(255, 255, 255); */

    /* for day mode */
    border: 2px solid black;
}